.wrapper {
  @apply bg-white mb-4 shadow-lg;
}

.heading {
  @apply bg-white border-b border-dashed px-4 py-4 text-lg sticky top-0 z-10;
}

.heading span {
}

.heading small {
  @apply block leading-4 text-gray-400;
}

.specs {
  @apply pb-8 px-4 text-sm;
}

.specs :global(.group:not(:last-child)) {
  @apply mb-4;
}

.specs :global(.group) {
  /* @apply bg-purple-50 border border-purple-200 rounded-lg; */
}

.specs :global(.group .group-name) {
  @apply text-purple-500 font-semibold py-2 text-base;
}

.specs :global(.group .group-name span) {
  @apply hidden;
}

.specs :global(.group .row) {
  @apply border-t border-purple-100 flex gap-4 py-2;
}

.specs :global(.group .row:first-child) {
  @apply border-t-0;
}

.specs :global(.group .row .attr-name) {
  color: #82589F;
  max-width: 30vw;
  min-width: 30vw;
}

.specs :global(.group .row .attr-name strong) {
  @apply font-medium;
}

.specs :global(.group .row .attr-value) {
  color: #182C61;
  @apply flex gap-8;
}

.specs :global(.group .row .attr-value .no) {
  @apply scale-125;
  color: #FD7272;
}

.specs :global(.group .row .attr-value .yes) {
  @apply scale-125;
  color: #2ed573;
}
